.body {
  background-image: linear-gradient(180deg, #615dad, #ffc8da);
}

.lobster-two-bold-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: italic;
}




.velkykontajner {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #283e50;
  border-radius: 5% 5% 0 0;

}



.textanadpis {
  color: #ffffff;
  text-align: center;

}

.lobster-two-bold-italic {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.button {
  height: ;
  width: ;
  text-align: center;
}

.zeleny .zeleny:hover .modry .modry:hover a:hover {
  cursor: pointer;

}
